@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color:#75B7DC;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1400px;
    margin: -40px auto;
}


.d-flex {
    display: flex;
}

.justify-beetwen {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.btn {
    padding: 12px 45px;
    font-weight: 400;
    line-height: 24px;
    background-color: lightgray;
    border-radius: 10px;
    color: black;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
}

.header {
    margin-top: 60px;
    padding: 12px 0;
    color: antiquewhite;
}
/* Nav */
.nav_list li {
    margin-left: 60px;
}

.nav__list li:last-child{
    margin-right: 120px;

}

.nav_link {
    font-weight: 700;
    line-height: 120px;
    color:black;
}

.main{
    background-color: white;
}
/* Banner*/
.left-banner_title{
    font-weight: 600;
    font-size: large;
    padding-top: 40px;
    padding: 40px;
    margin-bottom: 400px ;
    color: black;
    line-height: 100px;
}

.left-banner_subtitle{
    font-size: 14px;
    font-weight: 300;
    color: white;
    margin-top: -40px;
    padding: 40px;
    margin-bottom: -20px;
    line-height: 0px;
}




/* Right Banner*/
.main{
    background-color: white;
}

.Right_Banner-copy{
    font-size: large;
    line-height: 20px;
}

.right-banner_title-h1{
    margin-top: -690px;
    padding-left: 695px;
    font-size: 40px;
    font-weight: 700;
    color: black;
}

.right-banner_title{
    line-height: 10px ;
    margin-bottom: 20px;
    padding-left: 695px;
    margin-top: 95px;
    font-size: 25px;
    font-weight: 600;
    color: black;
}


.right-banner_subtitle-color{
    color: blue;
    font-size: 18px;
    font-weight: 400;
    padding-left: 695px;
    margin-bottom: 10px;
    padding-top: 50px; 
}
.right-banner_subtitle{
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    color: gray;
    padding-left: 695px;
    line-height: normal;
}

.right-banner_subtitle-main{
    padding-top: 40px;
    flex-direction: column;
    display: flex ;
    gap: 10px;
    align-items: self-end;
    font-weight: 300;
    font-size: 18px;
    color: gray;
    padding-left: 695px;
    line-height: normal;
}


.right-banner_subtitle-black{
    color: black;
    font-size: 17px;
    font-weight: 400;
    padding-left: 695px;
    margin-top: 5px;
    line-height: 40px;
}

.right-banner_subtitle_logo{
    color: blue;
    font-weight: 700;
    font-size: 15px;
}

.right-banner_subtitle-black2{
    font-weight: 600;
    font-size: 25px;
    color: black;
    padding-left: 695px;
    margin-top: 20px ;
    line-height: 50px;
}
.right-banner_subtitle_buttons{
    margin-top: 50px;
    color: blue;
    font-weight: 700;
    font-size: 20px;
}